# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
target/
*.class

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build tools
/build/
.gradle/
.mvn/
!gradle/wrapper/gradle-wrapper.jar

# Temp files
*.swp
